<section class="listing-apply">
  <h2 class="section-heading">Para más información dejanos tu mensaje</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="first-name">Nombre</label>
    <input type="text" placeholder="Ingrese su nombre" id="first-name" formControlName="firstName" />
    <span class="alert" [hidden]="firstName.valid || firstName.untouched">
      Debe completar su nombre
    </span>

    <label for="last-name">Apellido</label>
    <input type="text" placeholder="Ingrese su apellido" id="last-name" formControlName="lastName" />
    <span class="alert" [hidden]="lastName.valid || lastName.untouched">
      Debe completar su apellido
    </span>

    <label for="email">Correo electrónico</label>
    <input type="text" placeholder="Ingrese su correo" id="email" formControlName="email" />
    <span class="alert" [hidden]="email.valid || email.untouched">
      Debe ser un correo electrónico válido
    </span>

    <label for="message">Mensaje</label>
    <textarea id="message" formControlName="message" rows="5"></textarea>
    <span class="alert" [hidden]="message.valid || message.untouched">
      El mensaje debe tener al menos 10 caracteres
    </span>

    <button type="submit" class="primary" [disabled]="contactForm.invalid">
      Enviar
    </button>
  </form>
</section>
