.product-detail-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; 
}

.product-header {
  text-align: center;
}

.product-content {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
  width: 100%;
  max-width: 600px; 
}

.product-content img {
  max-width: 45%; 
  height: auto; 
  border-radius: 8px; 
}

.text-detail {
  font-family: sans-serif;
  text-align: justify; 
}

button {
  font-family: sans-serif;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 1;
  cursor: pointer;
  align-self: center; /* Centra el botón debajo de la descripción e imagen */
}

button:hover {
  background-color: #0056b3;
}
